section.dashboard
    .dashboard-container.dashboard-container--multi-items
        .dashboard-title
            span='Новинки'
        .dashboard-news.swiper-container
            .news-list.swiper-wrapper
                .news-item.news-item--large.swiper-slide
                    .news-item__inner
                        .news-item__info
                            h4.news-item__title='Фруктовий мікс'
                            p.news-item__description.paragraph
                                | Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                            .cost.cost--black
                                .cost__price
                                    span='44'
                                    span='грн'
                                .cost__portion
                                    span='400'
                                    span='грам'
                        .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                            .quantity__inner
                                span='Кількість:'
                                .quantity__controls(data-max-items=Math.floor(Math.random() * 30) + 1)
                                    .quantity__plus
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                    .quantity__info
                                        span='0'
                                        span='шт.'
                                    .quantity__minus
                                        <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                            button(type='button').btn.btn--red='Додати до кошика'
                .news-item.news-item--large.swiper-slide
                    .news-item__inner
                        .news-item__info
                            h4.news-item__title='Фруктовий мікс'
                            p.news-item__description.paragraph
                                | Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                            .cost.cost--black
                                .cost__price
                                    span='44'
                                    span='грн'
                                .cost__portion
                                    span='400'
                                    span='грам'
                        .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                            .quantity__inner
                                span='Кількість:'
                                .quantity__controls(data-max-items=Math.floor(Math.random() * 30) + 1)
                                    .quantity__plus
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                    .quantity__info
                                        span='0'
                                        span='шт.'
                                    .quantity__minus
                                        <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                            button(type='button').btn.btn--red='Додати до кошика'
                .news-item.news-item--large.swiper-slide
                    .news-item__inner
                        .news-item__info
                            h4.news-item__title='Фруктовий мікс'
                            p.news-item__description.paragraph
                                | Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                            .cost.cost--black
                                .cost__price
                                    span='44'
                                    span='грн'
                                .cost__portion
                                    span='400'
                                    span='грам'
                        .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                            .quantity__inner
                                span='Кількість:'
                                .quantity__controls(data-max-items=Math.floor(Math.random() * 30) + 1)
                                    .quantity__plus
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                    .quantity__info
                                        span='0'
                                        span='шт.'
                                    .quantity__minus
                                        <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                            button(type='button').btn.btn--red='Додати до кошика'
                .news-item.news-item--large.swiper-slide
                    .news-item__inner
                        .news-item__info
                            h4.news-item__title='Фруктовий мікс'
                            p.news-item__description.paragraph
                                | Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                            .cost.cost--black
                                .cost__price
                                    span='44'
                                    span='грн'
                                .cost__portion
                                    span='400'
                                    span='грам'
                        .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                            .quantity__inner
                                span='Кількість:'
                                .quantity__controls(data-max-items=Math.floor(Math.random() * 30) + 1)
                                    .quantity__plus
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                    .quantity__info
                                        span='0'
                                        span='шт.'
                                    .quantity__minus
                                        <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                            button(type='button').btn.btn--red='Додати до кошика'
        button(type='button').btn.btn--icon.btn--green.news-button-prev
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 17L0.999999 9L9 1" stroke="#333333"/>
            </svg>
        button(type='button').btn.btn--icon.btn--green.news-button-next
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L9 9L1 17" stroke="#333333"/>
            </svg>
    .dashboard-container.dashboard-container--multi-items
        .dashboard-title
            span='Акції'
        .dashboard-shares.swiper-container
            .news-list.swiper-wrapper
                .news-item.swiper-slide
                    .news-item__image
                        img(src='img/summer-dinner-ideas-1583865517.jpg')
                    .news-item__inner
                        .news-item__info
                            h4.news-item__title='Фруктовий мікс'
                            p.news-item__description.paragraph
                                | Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                            .cost.cost--black
                                .cost__price.cost__price--old
                                    span='54'
                                .cost__price.cost__price--new
                                    span='44'
                                    span='грн'
                                .cost__portion
                                    span='400'
                                    span='грам'
                        .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                            .quantity__inner
                                span='Кількість:'
                                .quantity__controls(data-max-items=Math.floor(Math.random() * 30) + 1)
                                    .quantity__plus
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                    .quantity__info
                                        span='0'
                                        span='шт.'
                                    .quantity__minus
                                        <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                            button(type='button').btn.btn--red='Додати до кошика'
                .news-item.swiper-slide
                    .news-item__image
                        img(src='img/Rectangle 16.png')
                    .news-item__inner
                        .news-item__info
                            h4.news-item__title='Фруктовий мікс'
                            p.news-item__description.paragraph
                                | Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                            .cost.cost--black
                                .cost__price
                                    span='44'
                                    span='грн'
                                .cost__portion
                                    span='400'
                                    span='грам'
                        .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                            .quantity__inner
                                span='Кількість:'
                                .quantity__controls(data-max-items=Math.floor(Math.random() * 30) + 1)
                                    .quantity__plus
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                    .quantity__info
                                        span='0'
                                        span='шт.'
                                    .quantity__minus
                                        <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                            button(type='button').btn.btn--red='Додати до кошика'
                .news-item.swiper-slide
                    .news-item__image
                        img(src='img/summer-dinner-ideas-1583865517.jpg')
                    .news-item__inner
                        .news-item__info
                            h4.news-item__title='Фруктовий мікс'
                            p.news-item__description.paragraph
                                | Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                            .cost.cost--black
                                .cost__price.cost__price--old
                                    span='54'
                                .cost__price.cost__price--new
                                    span='44'
                                    span='грн'
                                .cost__portion
                                    span='400'
                                    span='грам'
                        .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                            .quantity__inner
                                span='Кількість:'
                                .quantity__controls(data-max-items=Math.floor(Math.random() * 30) + 1)
                                    .quantity__plus
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                    .quantity__info
                                        span='0'
                                        span='шт.'
                                    .quantity__minus
                                        <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                            button(type='button').btn.btn--red='Додати до кошика'
                .news-item.swiper-slide
                    .news-item__image
                        img(src='img/Rectangle 16.png')
                    .news-item__inner
                        .news-item__info
                            h4.news-item__title='Фруктовий мікс'
                            p.news-item__description.paragraph
                                | Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                            .cost.cost--black
                                .cost__price
                                    span='44'
                                    span='грн'
                                .cost__portion
                                    span='400'
                                    span='грам'
                        .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                            .quantity__inner
                                span='Кількість:'
                                .quantity__controls(data-max-items=Math.floor(Math.random() * 30) + 1)
                                    .quantity__plus
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                    .quantity__info
                                        span='0'
                                        span='шт.'
                                    .quantity__minus
                                        <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                            button(type='button').btn.btn--red='Додати до кошика'
        button(type='button').btn.btn--icon.btn--green.shares-button-prev
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 17L0.999999 9L9 1" stroke="#333333"/>
            </svg>
        button(type='button').btn.btn--icon.btn--green.shares-button-next
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L9 9L1 17" stroke="#333333"/>
            </svg>