-
    const dishes = [
        {
            name: 'Паста ”Italiano pronto”',
            price: '57',
            currency: 'грн',
            portion: '450',
            image: '../img/Rectangle 13.png',
            discription: 'Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад'
        },
        {
            name: 'Салат ”Мікс зелені”',
            price: '53',
            currency: 'грн',
            portion: '200',
            image: '../img/Rectangle 10.png',
            discription: 'Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад'
        },
        {
            name: 'Суп гороховий з зеленню та сиром бакар',
            price: '53',
            currency: 'грн',
            portion: '200',
            image: '../img/Rectangle 10.png',
            discription: 'Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.'
        },
        {
            name: 'Піцца ”Селянська”',
            price: '53',
            currency: 'грн',
            portion: '200',
            image: '../img/Rectangle 10.png',
            discription: 'Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад'
        },
    ];
-
    const types = [
        {
            name: 'appetizer'
        },
        {
            name: 'salads'
        },
        {
            name: 'Pizza'
        },
        {
            name: 'Children-dishes'
        },
        {
            name: 'Hot-appetizers'
        },
        {
            name: 'Drinks'
        }
    ];
.dishes-wrapper
    each type, index in types
        if (index === 0)
            .dishes-inner.dishes-inner--active(data-item-type=type.name)
                .dishes.dishes--active.row
                    each item, id in dishes
                        .dishes__item
                            .dishes__image
                                img(src=item.image)
                            .dishes__content
                                h3.dishes__name=item.name
                                .dishes__body
                                    .cost
                                        .cost__price
                                            span=item.price
                                            span=item.currency
                                        .cost__portion
                                            span=item.portion
                                            span='грам'
                                    p.paragraph.dishes__discription=item.discription
                                    .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                                        button(type='button').btn.btn--red='Додати до кошика'
                                        .quantity__inner
                                            span='Кількість:'
                                            .quantity__controls
                                                .quantity__plus
                                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                                .quantity__info
                                                    span='1'
                                                    span='шт.'
                                                .quantity__minus
                                                    <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                .dishes.row
                    each item in dishes.reverse()
                        .dishes__item
                            .dishes__image
                                img(src=item.image)
                            .dishes__content
                                h3.dishes__name=item.name
                                .dishes__body
                                    .cost
                                        .cost__price
                                            span=item.price
                                            span=item.currency
                                        .cost__portion
                                            span=item.portion
                                            span='грам'
                                    p.paragraph.dishes__discription=item.discription
                                    .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                                        button(type='button').btn.btn--red='Додати до кошика'
                                        .quantity__inner
                                            span='Кількість:'
                                            .quantity__controls
                                                .quantity__plus
                                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                                .quantity__info
                                                    span='1'
                                                    span='шт.'
                                                .quantity__minus
                                                    <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                .pagination(data-item-type=type.name)
                    .pagination__inner
                        button(type='button').btn.btn--icon.btn--green.pagination__prev
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 17L0.999999 9L9 1" stroke="#333333"/>
                            </svg>
                        .pagination__info
                            span.pagination__curent-position='1'
                            span.pagination__last-position='6'
                        button(type='button').btn.btn--icon.btn--green.pagination__next
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L9 9L1 17" stroke="#333333"/>
                            </svg>
                    button(type='button').btn.btn--green.btn--with-icon
                        span='Перейти до кошика'
                        <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5 13.5H22.6293L17.8961 1.45185C17.7694 1.1301 17.5354 0.862002 17.2338 0.692898C16.9321 0.523794 16.5813 0.464063 16.2407 0.523808C15.9001 0.583553 15.5906 0.759107 15.3645 1.02078C15.1384 1.28245 15.0097 1.61417 15 1.95985C14.991 1.61381 14.8625 1.28155 14.6364 1.01941C14.4104 0.757272 14.1006 0.581387 13.7597 0.521583C13.4187 0.461778 13.0676 0.521735 12.7658 0.691286C12.464 0.860837 12.2301 1.12955 12.1039 1.45185L7.37069 13.5H0.5C0.367392 13.5 0.240215 13.5527 0.146447 13.6465C0.0526784 13.7403 0 13.8674 0 14V17C0.000116614 17.121 0.0440414 17.2377 0.123641 17.3287C0.20324 17.4197 0.313121 17.4788 0.432938 17.495L1.848 28.8152C1.96806 29.7757 2.82175 30.5 3.83388 30.5H26.1661C27.1782 30.5 28.0319 29.7757 28.152 28.8152L29.5671 17.495C29.6869 17.4788 29.7968 17.4197 29.8764 17.3287C29.956 17.2377 29.9999 17.121 30 17V14C30 13.8674 29.9473 13.7403 29.8536 13.6465C29.7598 13.5527 29.6326 13.5 29.5 13.5ZM16.0417 1.80053C16.0812 1.70991 16.1467 1.63305 16.2299 1.57965C16.3132 1.52626 16.4103 1.49873 16.5092 1.50055C16.608 1.50237 16.7041 1.53345 16.7853 1.58987C16.8665 1.64629 16.9291 1.72552 16.9653 1.81753L22.2826 15.3522L21.3518 15.7178L16.0347 2.18316C16.0105 2.1221 15.9986 2.05683 15.9998 1.99114C16.001 1.92546 16.0152 1.86067 16.0417 1.80053ZM20.5847 16.5H9.41531L10.201 14.5H19.799L20.5847 16.5ZM14.8961 2.54885C14.9592 2.3889 14.9943 2.21931 15 2.04747C15.0057 2.21931 15.0408 2.3889 15.1039 2.54885L19.4062 13.5H10.5938L14.8961 2.54885ZM13.0347 1.8176C13.058 1.75557 13.0935 1.69881 13.1389 1.6506C13.1844 1.6024 13.239 1.56371 13.2996 1.5368C13.3601 1.50988 13.4254 1.49527 13.4917 1.49382C13.558 1.49237 13.6238 1.5041 13.6855 1.52834C13.7472 1.55258 13.8034 1.58883 13.851 1.635C13.8985 1.68117 13.9364 1.73633 13.9624 1.79727C13.9885 1.85821 14.0021 1.92372 14.0026 1.98999C14.0031 2.05626 13.9904 2.12196 13.9653 2.18328L8.64819 15.7178L7.71744 15.3522L13.0347 1.8176ZM1 14.5H6.97781L6.60388 15.4519C6.55539 15.5753 6.55792 15.7129 6.61091 15.8345C6.6639 15.956 6.76301 16.0516 6.88644 16.1L7.9045 16.5H1V14.5ZM27.1597 28.6912C27.1021 29.1524 26.6749 29.5 26.1659 29.5H3.83388C3.32506 29.5 2.89794 29.1524 2.84013 28.6912L1.44138 17.5H28.5586L27.1597 28.6912ZM29 16.5H22.0955L23.1136 16.1C23.237 16.0516 23.3361 15.956 23.3891 15.8345C23.4421 15.7129 23.4446 15.5753 23.3961 15.4519L23.0222 14.5H29V16.5Z" fill="#333333"/>
                        </svg>
        else
            .dishes-inner(data-item-type=type.name)
                .dishes.dishes--active.row
                    each item in dishes
                        .dishes__item
                            .dishes__image
                                img(src=item.image)
                            .dishes__content
                                h3.dishes__name=item.name
                                .dishes__body
                                    .cost
                                        .cost__price
                                            span=item.price
                                            span=item.currency
                                        .cost__portion
                                            span=item.portion
                                            span='грам'
                                    p.paragraph.dishes__discription=item.discription
                                    .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                                        button(type='button').btn.btn--red='Додати до кошика'
                                        .quantity__inner
                                            span='Кількість:'
                                            .quantity__controls
                                                .quantity__plus
                                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                                .quantity__info
                                                    span='1'
                                                    span='шт.'
                                                .quantity__minus
                                                    <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                .dishes.row
                    each item in dishes.reverse()
                        .dishes__item
                            .dishes__image
                                img(src=item.image)
                            .dishes__content
                                h3.dishes__name=item.name
                                .dishes__body
                                    .cost
                                        .cost__price
                                            span=item.price
                                            span=item.currency
                                        .cost__portion
                                            span=item.portion
                                            span='грам'
                                    p.paragraph.dishes__discription=item.discription
                                    .quantity(data-dishes-id=Math.floor(Math.random() * 9999) + 1)
                                        button(type='button').btn.btn--red='Додати до кошика'
                                        .quantity__inner
                                            span='Кількість:'
                                            .quantity__controls
                                                .quantity__plus
                                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                                .quantity__info
                                                    span='1'
                                                    span='шт.'
                                                .quantity__minus
                                                    <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                .pagination(data-item-type=type.name)
                    .pagination__inner
                        button(type='button').btn.btn--icon.btn--green.pagination__prev
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 17L0.999999 9L9 1" stroke="#333333"/>
                            </svg>
                        .pagination__info
                            span.pagination__curent-position='1'
                            span.pagination__last-position='6'
                        button(type='button').btn.btn--icon.btn--green.pagination__next
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L9 9L1 17" stroke="#333333"/>
                            </svg>
                    button(type='button').btn.btn--green.btn--with-icon
                        span='Перейти до кошика'
                        .btn__icon
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 24C6.13261 24 6.25979 23.9473 6.35355 23.8536C6.44732 23.7598 6.5 23.6326 6.5 23.5V20.5C6.5 20.3674 6.44732 20.2402 6.35355 20.1464C6.25979 20.0527 6.13261 20 6 20C5.86739 20 5.74021 20.0527 5.64645 20.1464C5.55268 20.2402 5.5 20.3674 5.5 20.5V23.5C5.5 23.6326 5.55268 23.7598 5.64645 23.8536C5.74021 23.9473 5.86739 24 6 24Z" fill="#333333"/>
                            <path d="M30.5 14.5H23.6293L18.8961 2.45185C18.7694 2.1301 18.5354 1.862 18.2338 1.6929C17.9321 1.52379 17.5813 1.46406 17.2407 1.52381C16.9001 1.58355 16.5906 1.75911 16.3645 2.02078C16.1384 2.28245 16.0097 2.61417 16 2.95985C15.991 2.61381 15.8625 2.28155 15.6364 2.01941C15.4104 1.75727 15.1006 1.58139 14.7597 1.52158C14.4187 1.46178 14.0676 1.52173 13.7658 1.69129C13.464 1.86084 13.2301 2.12955 13.1039 2.45185L8.37069 14.5H1.5C1.36739 14.5 1.24021 14.5527 1.14645 14.6465C1.05268 14.7403 1 14.8674 1 15V18C1.00012 18.121 1.04404 18.2377 1.12364 18.3287C1.20324 18.4197 1.31312 18.4788 1.43294 18.495L2.848 29.8152C2.96806 30.7757 3.82175 31.5 4.83388 31.5H27.1661C28.1782 31.5 29.0319 30.7757 29.152 29.8152L30.5671 18.495C30.6869 18.4788 30.7968 18.4197 30.8764 18.3287C30.956 18.2377 30.9999 18.121 31 18V15C31 14.8674 30.9473 14.7403 30.8536 14.6465C30.7598 14.5527 30.6326 14.5 30.5 14.5ZM17.0417 2.80053C17.0812 2.70991 17.1467 2.63305 17.2299 2.57965C17.3132 2.52626 17.4103 2.49873 17.5092 2.50055C17.608 2.50237 17.7041 2.53345 17.7853 2.58987C17.8665 2.64629 17.9291 2.72552 17.9653 2.81753L23.2826 16.3522L22.3518 16.7178L17.0347 3.18316C17.0105 3.1221 16.9986 3.05683 16.9998 2.99114C17.001 2.92546 17.0152 2.86067 17.0417 2.80053ZM21.5847 17.5H10.4153L11.201 15.5H20.799L21.5847 17.5ZM15.8961 3.54885C15.9592 3.3889 15.9943 3.21931 16 3.04747C16.0057 3.21931 16.0408 3.3889 16.1039 3.54885L20.4062 14.5H11.5938L15.8961 3.54885ZM14.0347 2.8176C14.058 2.75557 14.0935 2.69881 14.1389 2.6506C14.1844 2.6024 14.239 2.56371 14.2996 2.5368C14.3601 2.50988 14.4254 2.49527 14.4917 2.49382C14.558 2.49237 14.6238 2.5041 14.6855 2.52834C14.7472 2.55258 14.8034 2.58883 14.851 2.635C14.8985 2.68117 14.9364 2.73633 14.9624 2.79727C14.9885 2.85821 15.0021 2.92372 15.0026 2.98999C15.0031 3.05626 14.9904 3.12196 14.9653 3.18328L9.64819 16.7178L8.71744 16.3522L14.0347 2.8176ZM2 15.5H7.97781L7.60388 16.4519C7.55539 16.5753 7.55792 16.7129 7.61091 16.8345C7.6639 16.956 7.76301 17.0516 7.88644 17.1L8.9045 17.5H2V15.5ZM28.1597 29.6912C28.1021 30.1524 27.6749 30.5 27.1659 30.5H4.83388C4.32506 30.5 3.89794 30.1524 3.84013 29.6912L2.44138 18.5H29.5586L28.1597 29.6912ZM30 17.5H23.0955L24.1136 17.1C24.237 17.0516 24.3361 16.956 24.3891 16.8345C24.4421 16.7129 24.4446 16.5753 24.3961 16.4519L24.0222 15.5H30V17.5Z" fill="#333333"/>
                            <path d="M6 29C6.13261 29 6.25979 28.9473 6.35355 28.8536C6.44732 28.7598 6.5 28.6326 6.5 28.5V25.5C6.5 25.3674 6.44732 25.2402 6.35355 25.1464C6.25979 25.0527 6.13261 25 6 25C5.86739 25 5.74021 25.0527 5.64645 25.1464C5.55268 25.2402 5.5 25.3674 5.5 25.5V28.5C5.5 28.6326 5.55268 28.7598 5.64645 28.8536C5.74021 28.9473 5.86739 29 6 29Z" fill="#333333"/>
                            <path d="M8 24C8.13261 24 8.25979 23.9473 8.35355 23.8536C8.44732 23.7598 8.5 23.6326 8.5 23.5V20.5C8.5 20.3674 8.44732 20.2402 8.35355 20.1464C8.25979 20.0527 8.13261 20 8 20C7.86739 20 7.74021 20.0527 7.64645 20.1464C7.55268 20.2402 7.5 20.3674 7.5 20.5V23.5C7.5 23.6326 7.55268 23.7598 7.64645 23.8536C7.74021 23.9473 7.86739 24 8 24Z" fill="#333333"/>
                            <path d="M8 29C8.13261 29 8.25979 28.9473 8.35355 28.8536C8.44732 28.7598 8.5 28.6326 8.5 28.5V25.5C8.5 25.3674 8.44732 25.2402 8.35355 25.1464C8.25979 25.0527 8.13261 25 8 25C7.86739 25 7.74021 25.0527 7.64645 25.1464C7.55268 25.2402 7.5 25.3674 7.5 25.5V28.5C7.5 28.6326 7.55268 28.7598 7.64645 28.8536C7.74021 28.9473 7.86739 29 8 29Z" fill="#333333"/>
                            <path d="M10 24C10.1326 24 10.2598 23.9473 10.3536 23.8536C10.4473 23.7598 10.5 23.6326 10.5 23.5V20.5C10.5 20.3674 10.4473 20.2402 10.3536 20.1464C10.2598 20.0527 10.1326 20 10 20C9.86739 20 9.74021 20.0527 9.64645 20.1464C9.55268 20.2402 9.5 20.3674 9.5 20.5V23.5C9.5 23.6326 9.55268 23.7598 9.64645 23.8536C9.74021 23.9473 9.86739 24 10 24Z" fill="#333333"/>
                            <path d="M10 29C10.1326 29 10.2598 28.9473 10.3536 28.8536C10.4473 28.7598 10.5 28.6326 10.5 28.5V25.5C10.5 25.3674 10.4473 25.2402 10.3536 25.1464C10.2598 25.0527 10.1326 25 10 25C9.86739 25 9.74021 25.0527 9.64645 25.1464C9.55268 25.2402 9.5 25.3674 9.5 25.5V28.5C9.5 28.6326 9.55268 28.7598 9.64645 28.8536C9.74021 28.9473 9.86739 29 10 29Z" fill="#333333"/>
                            <path d="M12 24C12.1326 24 12.2598 23.9473 12.3536 23.8536C12.4473 23.7598 12.5 23.6326 12.5 23.5V20.5C12.5 20.3674 12.4473 20.2402 12.3536 20.1464C12.2598 20.0527 12.1326 20 12 20C11.8674 20 11.7402 20.0527 11.6464 20.1464C11.5527 20.2402 11.5 20.3674 11.5 20.5V23.5C11.5 23.6326 11.5527 23.7598 11.6464 23.8536C11.7402 23.9473 11.8674 24 12 24Z" fill="#333333"/>
                            <path d="M12 29C12.1326 29 12.2598 28.9473 12.3536 28.8536C12.4473 28.7598 12.5 28.6326 12.5 28.5V25.5C12.5 25.3674 12.4473 25.2402 12.3536 25.1464C12.2598 25.0527 12.1326 25 12 25C11.8674 25 11.7402 25.0527 11.6464 25.1464C11.5527 25.2402 11.5 25.3674 11.5 25.5V28.5C11.5 28.6326 11.5527 28.7598 11.6464 28.8536C11.7402 28.9473 11.8674 29 12 29Z" fill="#333333"/>
                            <path d="M20 24C20.1326 24 20.2598 23.9473 20.3536 23.8536C20.4473 23.7598 20.5 23.6326 20.5 23.5V20.5C20.5 20.3674 20.4473 20.2402 20.3536 20.1464C20.2598 20.0527 20.1326 20 20 20C19.8674 20 19.7402 20.0527 19.6464 20.1464C19.5527 20.2402 19.5 20.3674 19.5 20.5V23.5C19.5 23.6326 19.5527 23.7598 19.6464 23.8536C19.7402 23.9473 19.8674 24 20 24Z" fill="#333333"/>
                            <path d="M20 29C20.1326 29 20.2598 28.9473 20.3536 28.8536C20.4473 28.7598 20.5 28.6326 20.5 28.5V25.5C20.5 25.3674 20.4473 25.2402 20.3536 25.1464C20.2598 25.0527 20.1326 25 20 25C19.8674 25 19.7402 25.0527 19.6464 25.1464C19.5527 25.2402 19.5 25.3674 19.5 25.5V28.5C19.5 28.6326 19.5527 28.7598 19.6464 28.8536C19.7402 28.9473 19.8674 29 20 29Z" fill="#333333"/>
                            <path d="M22 24C22.1326 24 22.2598 23.9473 22.3536 23.8536C22.4473 23.7598 22.5 23.6326 22.5 23.5V20.5C22.5 20.3674 22.4473 20.2402 22.3536 20.1464C22.2598 20.0527 22.1326 20 22 20C21.8674 20 21.7402 20.0527 21.6464 20.1464C21.5527 20.2402 21.5 20.3674 21.5 20.5V23.5C21.5 23.6326 21.5527 23.7598 21.6464 23.8536C21.7402 23.9473 21.8674 24 22 24Z" fill="#333333"/>
                            <path d="M22 29C22.1326 29 22.2598 28.9473 22.3536 28.8536C22.4473 28.7598 22.5 28.6326 22.5 28.5V25.5C22.5 25.3674 22.4473 25.2402 22.3536 25.1464C22.2598 25.0527 22.1326 25 22 25C21.8674 25 21.7402 25.0527 21.6464 25.1464C21.5527 25.2402 21.5 25.3674 21.5 25.5V28.5C21.5 28.6326 21.5527 28.7598 21.6464 28.8536C21.7402 28.9473 21.8674 29 22 29Z" fill="#333333"/>
                            <path d="M24 24C24.1326 24 24.2598 23.9473 24.3536 23.8536C24.4473 23.7598 24.5 23.6326 24.5 23.5V20.5C24.5 20.3674 24.4473 20.2402 24.3536 20.1464C24.2598 20.0527 24.1326 20 24 20C23.8674 20 23.7402 20.0527 23.6464 20.1464C23.5527 20.2402 23.5 20.3674 23.5 20.5V23.5C23.5 23.6326 23.5527 23.7598 23.6464 23.8536C23.7402 23.9473 23.8674 24 24 24Z" fill="#333333"/>
                            <path d="M24 29C24.1326 29 24.2598 28.9473 24.3536 28.8536C24.4473 28.7598 24.5 28.6326 24.5 28.5V25.5C24.5 25.3674 24.4473 25.2402 24.3536 25.1464C24.2598 25.0527 24.1326 25 24 25C23.8674 25 23.7402 25.0527 23.6464 25.1464C23.5527 25.2402 23.5 25.3674 23.5 25.5V28.5C23.5 28.6326 23.5527 28.7598 23.6464 28.8536C23.7402 28.9473 23.8674 29 24 29Z" fill="#333333"/>
                            <path d="M26 24C26.1326 24 26.2598 23.9473 26.3536 23.8536C26.4473 23.7598 26.5 23.6326 26.5 23.5V20.5C26.5 20.3674 26.4473 20.2402 26.3536 20.1464C26.2598 20.0527 26.1326 20 26 20C25.8674 20 25.7402 20.0527 25.6464 20.1464C25.5527 20.2402 25.5 20.3674 25.5 20.5V23.5C25.5 23.6326 25.5527 23.7598 25.6464 23.8536C25.7402 23.9473 25.8674 24 26 24Z" fill="#333333"/>
                            <path d="M26 29C26.1326 29 26.2598 28.9473 26.3536 28.8536C26.4473 28.7598 26.5 28.6326 26.5 28.5V25.5C26.5 25.3674 26.4473 25.2402 26.3536 25.1464C26.2598 25.0527 26.1326 25 26 25C25.8674 25 25.7402 25.0527 25.6464 25.1464C25.5527 25.2402 25.5 25.3674 25.5 25.5V28.5C25.5 28.6326 25.5527 28.7598 25.6464 28.8536C25.7402 28.9473 25.8674 29 26 29Z" fill="#333333"/>
                            <path d="M16 24C16.1326 24 16.2598 23.9473 16.3536 23.8536C16.4473 23.7598 16.5 23.6326 16.5 23.5V20.5C16.5 20.3674 16.4473 20.2402 16.3536 20.1464C16.2598 20.0527 16.1326 20 16 20C15.8674 20 15.7402 20.0527 15.6464 20.1464C15.5527 20.2402 15.5 20.3674 15.5 20.5V23.5C15.5 23.6326 15.5527 23.7598 15.6464 23.8536C15.7402 23.9473 15.8674 24 16 24Z" fill="#333333"/>
                            <path d="M16 29C16.1326 29 16.2598 28.9473 16.3536 28.8536C16.4473 28.7598 16.5 28.6326 16.5 28.5V25.5C16.5 25.3674 16.4473 25.2402 16.3536 25.1464C16.2598 25.0527 16.1326 25 16 25C15.8674 25 15.7402 25.0527 15.6464 25.1464C15.5527 25.2402 15.5 25.3674 15.5 25.5V28.5C15.5 28.6326 15.5527 28.7598 15.6464 28.8536C15.7402 28.9473 15.8674 29 16 29Z" fill="#333333"/>
                            <path d="M14 24C14.1326 24 14.2598 23.9473 14.3536 23.8536C14.4473 23.7598 14.5 23.6326 14.5 23.5V20.5C14.5 20.3674 14.4473 20.2402 14.3536 20.1464C14.2598 20.0527 14.1326 20 14 20C13.8674 20 13.7402 20.0527 13.6464 20.1464C13.5527 20.2402 13.5 20.3674 13.5 20.5V23.5C13.5 23.6326 13.5527 23.7598 13.6464 23.8536C13.7402 23.9473 13.8674 24 14 24Z" fill="#333333"/>
                            <path d="M14 29C14.1326 29 14.2598 28.9473 14.3536 28.8536C14.4473 28.7598 14.5 28.6326 14.5 28.5V25.5C14.5 25.3674 14.4473 25.2402 14.3536 25.1464C14.2598 25.0527 14.1326 25 14 25C13.8674 25 13.7402 25.0527 13.6464 25.1464C13.5527 25.2402 13.5 25.3674 13.5 25.5V28.5C13.5 28.6326 13.5527 28.7598 13.6464 28.8536C13.7402 28.9473 13.8674 29 14 29Z" fill="#333333"/>
                            <path d="M18 24C18.1326 24 18.2598 23.9473 18.3536 23.8536C18.4473 23.7598 18.5 23.6326 18.5 23.5V20.5C18.5 20.3674 18.4473 20.2402 18.3536 20.1464C18.2598 20.0527 18.1326 20 18 20C17.8674 20 17.7402 20.0527 17.6464 20.1464C17.5527 20.2402 17.5 20.3674 17.5 20.5V23.5C17.5 23.6326 17.5527 23.7598 17.6464 23.8536C17.7402 23.9473 17.8674 24 18 24Z" fill="#333333"/>
                            <path d="M18 29C18.1326 29 18.2598 28.9473 18.3536 28.8536C18.4473 28.7598 18.5 28.6326 18.5 28.5V25.5C18.5 25.3674 18.4473 25.2402 18.3536 25.1464C18.2598 25.0527 18.1326 25 18 25C17.8674 25 17.7402 25.0527 17.6464 25.1464C17.5527 25.2402 17.5 25.3674 17.5 25.5V28.5C17.5 28.6326 17.5527 28.7598 17.6464 28.8536C17.7402 28.9473 17.8674 29 18 29Z" fill="#333333"/>
                            </svg>