-
    const dishes = [
        {
            name: 'Паста ”Italiano pronto”',
            price: '57',
            currency: 'грн',
            portion: '450',
            image: '../img/Rectangle 13.png',
            discription: 'Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад'
        },
        {
            name: 'Салат ”Мікс зелені”',
            price: '53',
            currency: 'грн',
            portion: '200',
            image: '../img/Rectangle 10.png',
            discription: 'Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад'
        },
        {
            name: 'Суп гороховий з зеленню та сиром бакар',
            price: '53',
            currency: 'грн',
            portion: '200',
            image: '../img/Rectangle 10.png',
            discription: 'Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.'
        },
        {
            name: 'Піцца ”Селянська”',
            price: '53',
            currency: 'грн',
            portion: '200',
            image: '../img/Rectangle 10.png',
            discription: 'Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад'
        },
    ];
-
    const types = [
        {
            name: 'appetizer'
        },
        {
            name: 'salads'
        },
        {
            name: 'Pizza'
        },
        {
            name: 'Children-dishes'
        },
        {
            name: 'Hot-appetizers'
        },
        {
            name: 'Drinks'
        }
    ];
.dishes-wrapper
    each type, index in types
        if (index === 0)
            .dishes-inner.dishes-inner--active(data-item-type=type.name)
                .dishes.dishes--active.row
                    each item in dishes
                        .dishes__item
                            .dishes__image
                                img(src=item.image)
                            .dishes__content
                                h3.dishes__name=item.name
                                .dishes__body
                                    .cost
                                        .cost__price
                                            span=item.price
                                            span=item.currency
                                        .cost__portion
                                            span=item.portion
                                            span='грам'
                                    p.paragraph.dishes__discription=item.discription
                                    .quantity
                                        button(type='button').btn.btn--red='Додати до кошика'
                                        .quantity__inner
                                            span='Кількість:'
                                            .quantity__controls
                                                .quantity__plus
                                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                                .quantity__info
                                                    span='1'
                                                    span='шт.'
                                                .quantity__minus
                                                    <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                .dishes.row
                    each item in dishes.reverse()
                        .dishes__item
                            .dishes__image
                                img(src=item.image)
                            .dishes__content
                                h3.dishes__name=item.name
                                .dishes__body
                                    .cost
                                        .cost__price
                                            span=item.price
                                            span=item.currency
                                        .cost__portion
                                            span=item.portion
                                            span='грам'
                                    p.paragraph.dishes__discription=item.discription
                                    .quantity
                                        button(type='button').btn.btn--red='Додати до кошика'
                                        .quantity__inner
                                            span='Кількість:'
                                            .quantity__controls
                                                .quantity__plus
                                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                                .quantity__info
                                                    span='1'
                                                    span='шт.'
                                                .quantity__minus
                                                    <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                .pagination(data-item-type=type.name)
                    .pagination__inner
                        button(type='button').btn.btn--icon.btn--green.pagination__prev
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 17L0.999999 9L9 1" stroke="#333333"/>
                            </svg>
                        .pagination__info
                            span.pagination__curent-position='1'
                            span.pagination__last-position='6'
                        button(type='button').btn.btn--icon.btn--green.pagination__next
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L9 9L1 17" stroke="#333333"/>
                            </svg>
                    button(type='button').btn.btn--green.btn--with-icon
                        span='Перейти до кошика'
                        <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5 13.5H22.6293L17.8961 1.45185C17.7694 1.1301 17.5354 0.862002 17.2338 0.692898C16.9321 0.523794 16.5813 0.464063 16.2407 0.523808C15.9001 0.583553 15.5906 0.759107 15.3645 1.02078C15.1384 1.28245 15.0097 1.61417 15 1.95985C14.991 1.61381 14.8625 1.28155 14.6364 1.01941C14.4104 0.757272 14.1006 0.581387 13.7597 0.521583C13.4187 0.461778 13.0676 0.521735 12.7658 0.691286C12.464 0.860837 12.2301 1.12955 12.1039 1.45185L7.37069 13.5H0.5C0.367392 13.5 0.240215 13.5527 0.146447 13.6465C0.0526784 13.7403 0 13.8674 0 14V17C0.000116614 17.121 0.0440414 17.2377 0.123641 17.3287C0.20324 17.4197 0.313121 17.4788 0.432938 17.495L1.848 28.8152C1.96806 29.7757 2.82175 30.5 3.83388 30.5H26.1661C27.1782 30.5 28.0319 29.7757 28.152 28.8152L29.5671 17.495C29.6869 17.4788 29.7968 17.4197 29.8764 17.3287C29.956 17.2377 29.9999 17.121 30 17V14C30 13.8674 29.9473 13.7403 29.8536 13.6465C29.7598 13.5527 29.6326 13.5 29.5 13.5ZM16.0417 1.80053C16.0812 1.70991 16.1467 1.63305 16.2299 1.57965C16.3132 1.52626 16.4103 1.49873 16.5092 1.50055C16.608 1.50237 16.7041 1.53345 16.7853 1.58987C16.8665 1.64629 16.9291 1.72552 16.9653 1.81753L22.2826 15.3522L21.3518 15.7178L16.0347 2.18316C16.0105 2.1221 15.9986 2.05683 15.9998 1.99114C16.001 1.92546 16.0152 1.86067 16.0417 1.80053ZM20.5847 16.5H9.41531L10.201 14.5H19.799L20.5847 16.5ZM14.8961 2.54885C14.9592 2.3889 14.9943 2.21931 15 2.04747C15.0057 2.21931 15.0408 2.3889 15.1039 2.54885L19.4062 13.5H10.5938L14.8961 2.54885ZM13.0347 1.8176C13.058 1.75557 13.0935 1.69881 13.1389 1.6506C13.1844 1.6024 13.239 1.56371 13.2996 1.5368C13.3601 1.50988 13.4254 1.49527 13.4917 1.49382C13.558 1.49237 13.6238 1.5041 13.6855 1.52834C13.7472 1.55258 13.8034 1.58883 13.851 1.635C13.8985 1.68117 13.9364 1.73633 13.9624 1.79727C13.9885 1.85821 14.0021 1.92372 14.0026 1.98999C14.0031 2.05626 13.9904 2.12196 13.9653 2.18328L8.64819 15.7178L7.71744 15.3522L13.0347 1.8176ZM1 14.5H6.97781L6.60388 15.4519C6.55539 15.5753 6.55792 15.7129 6.61091 15.8345C6.6639 15.956 6.76301 16.0516 6.88644 16.1L7.9045 16.5H1V14.5ZM27.1597 28.6912C27.1021 29.1524 26.6749 29.5 26.1659 29.5H3.83388C3.32506 29.5 2.89794 29.1524 2.84013 28.6912L1.44138 17.5H28.5586L27.1597 28.6912ZM29 16.5H22.0955L23.1136 16.1C23.237 16.0516 23.3361 15.956 23.3891 15.8345C23.4421 15.7129 23.4446 15.5753 23.3961 15.4519L23.0222 14.5H29V16.5Z" fill="#333333"/>
                        </svg>
        else
            .dishes-inner(data-item-type=type.name)
                .dishes.dishes--active.row
                    each item in dishes
                        .dishes__item
                            .dishes__image
                                img(src=item.image)
                            .dishes__content
                                h3.dishes__name=item.name
                                .dishes__body
                                    .cost
                                        .cost__price
                                            span=item.price
                                            span=item.currency
                                        .cost__portion
                                            span=item.portion
                                            span='грам'
                                    p.paragraph.dishes__discription=item.discription
                                    .quantity
                                        button(type='button').btn.btn--red='Додати до кошика'
                                        .quantity__inner
                                            span='Кількість:'
                                            .quantity__controls
                                                .quantity__plus
                                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                                .quantity__info
                                                    span='1'
                                                    span='шт.'
                                                .quantity__minus
                                                    <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                .dishes.row
                    each item in dishes.reverse()
                        .dishes__item
                            .dishes__image
                                img(src=item.image)
                            .dishes__content
                                h3.dishes__name=item.name
                                .dishes__body
                                    .cost
                                        .cost__price
                                            span=item.price
                                            span=item.currency
                                        .cost__portion
                                            span=item.portion
                                            span='грам'
                                    p.paragraph.dishes__discription=item.discription
                                    .quantity
                                        button(type='button').btn.btn--red='Додати до кошика'
                                        .quantity__inner
                                            span='Кількість:'
                                            .quantity__controls
                                                .quantity__plus
                                                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83057 0.75V10.25" stroke="#333333" stroke-width="2"/><path d="M0 5.5L9.5 5.5" stroke="#333333" stroke-width="2"/></svg>
                                                .quantity__info
                                                    span='1'
                                                    span='шт.'
                                                .quantity__minus
                                                    <svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1.5L10 1.5" stroke="#333333" stroke-width="2"/></svg>
                .pagination(data-item-type=type.name)
                    .pagination__inner
                        button(type='button').btn.btn--icon.btn--green.pagination__prev
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 17L0.999999 9L9 1" stroke="#333333"/>
                            </svg>
                        .pagination__info
                            span.pagination__curent-position='1'
                            span.pagination__last-position='6'
                        button(type='button').btn.btn--icon.btn--green.pagination__next
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L9 9L1 17" stroke="#333333"/>
                            </svg>
                    button(type='button').btn.btn--green.btn--with-icon
                        span='Перейти до кошика'
                        <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5 13.5H22.6293L17.8961 1.45185C17.7694 1.1301 17.5354 0.862002 17.2338 0.692898C16.9321 0.523794 16.5813 0.464063 16.2407 0.523808C15.9001 0.583553 15.5906 0.759107 15.3645 1.02078C15.1384 1.28245 15.0097 1.61417 15 1.95985C14.991 1.61381 14.8625 1.28155 14.6364 1.01941C14.4104 0.757272 14.1006 0.581387 13.7597 0.521583C13.4187 0.461778 13.0676 0.521735 12.7658 0.691286C12.464 0.860837 12.2301 1.12955 12.1039 1.45185L7.37069 13.5H0.5C0.367392 13.5 0.240215 13.5527 0.146447 13.6465C0.0526784 13.7403 0 13.8674 0 14V17C0.000116614 17.121 0.0440414 17.2377 0.123641 17.3287C0.20324 17.4197 0.313121 17.4788 0.432938 17.495L1.848 28.8152C1.96806 29.7757 2.82175 30.5 3.83388 30.5H26.1661C27.1782 30.5 28.0319 29.7757 28.152 28.8152L29.5671 17.495C29.6869 17.4788 29.7968 17.4197 29.8764 17.3287C29.956 17.2377 29.9999 17.121 30 17V14C30 13.8674 29.9473 13.7403 29.8536 13.6465C29.7598 13.5527 29.6326 13.5 29.5 13.5ZM16.0417 1.80053C16.0812 1.70991 16.1467 1.63305 16.2299 1.57965C16.3132 1.52626 16.4103 1.49873 16.5092 1.50055C16.608 1.50237 16.7041 1.53345 16.7853 1.58987C16.8665 1.64629 16.9291 1.72552 16.9653 1.81753L22.2826 15.3522L21.3518 15.7178L16.0347 2.18316C16.0105 2.1221 15.9986 2.05683 15.9998 1.99114C16.001 1.92546 16.0152 1.86067 16.0417 1.80053ZM20.5847 16.5H9.41531L10.201 14.5H19.799L20.5847 16.5ZM14.8961 2.54885C14.9592 2.3889 14.9943 2.21931 15 2.04747C15.0057 2.21931 15.0408 2.3889 15.1039 2.54885L19.4062 13.5H10.5938L14.8961 2.54885ZM13.0347 1.8176C13.058 1.75557 13.0935 1.69881 13.1389 1.6506C13.1844 1.6024 13.239 1.56371 13.2996 1.5368C13.3601 1.50988 13.4254 1.49527 13.4917 1.49382C13.558 1.49237 13.6238 1.5041 13.6855 1.52834C13.7472 1.55258 13.8034 1.58883 13.851 1.635C13.8985 1.68117 13.9364 1.73633 13.9624 1.79727C13.9885 1.85821 14.0021 1.92372 14.0026 1.98999C14.0031 2.05626 13.9904 2.12196 13.9653 2.18328L8.64819 15.7178L7.71744 15.3522L13.0347 1.8176ZM1 14.5H6.97781L6.60388 15.4519C6.55539 15.5753 6.55792 15.7129 6.61091 15.8345C6.6639 15.956 6.76301 16.0516 6.88644 16.1L7.9045 16.5H1V14.5ZM27.1597 28.6912C27.1021 29.1524 26.6749 29.5 26.1659 29.5H3.83388C3.32506 29.5 2.89794 29.1524 2.84013 28.6912L1.44138 17.5H28.5586L27.1597 28.6912ZM29 16.5H22.0955L23.1136 16.1C23.237 16.0516 23.3361 15.956 23.3891 15.8345C23.4421 15.7129 23.4446 15.5753 23.3961 15.4519L23.0222 14.5H29V16.5Z" fill="#333333"/>
                        </svg>