.tabs-wrapper.tabs-menu-wrapper
    button(type='button').btn.btn--icon.btn--green.tabs-prev-btn
        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 17L0.999999 9L9 1" stroke="#333333"/>
        </svg>
    .tabs-inner
        ul.tabs.tabs-menu
            li.tabs__item.tabs__item--active(data-item-type='appetizer')='Закуски'
            li.tabs__item(data-item-type='salads')='Салати'
            li.tabs__item(data-item-type='Pizza')='Піца'
            li.tabs__item(data-item-type='Children-dishes')='Дитячі страви'
            li.tabs__item(data-item-type='Hot-appetizers')='Гарячі закуски'
            li.tabs__item(data-item-type='Drinks')='Напої'
    button(type='button').btn.btn--icon.btn--green.tabs-next-btn
        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L9 9L1 17" stroke="#333333"/>
        </svg>