ul.tabs.tabs-gallery
    li.tabs__item.tabs__item--active(data-item-type='Play-area-for-children')='Ігрова зона для діток'
    li.tabs__item(data-item-type='Dishes-of-Ukrainian-and-European')='Страви української та європейської кухні'
    li.tabs__item(data-item-type='Summer-playground')='Літній майданчик'
    li.tabs__item(data-item-type='Banquet-hall')='Банкетний зал'
    li.tabs__item(data-item-type='Quick-delivery')='Швидка доставка'