ul.tabs
    li.tabs__item.tabs__item--active(data-gallery-type='Play-area-for-children')='Ігрова зона для діток'
    li.tabs__item(data-gallery-type='Dishes-of-Ukrainian-and-European')='Страви української та європейської кухні'
    li.tabs__item(data-gallery-type='Summer-playground')='Літній майданчик'
    li.tabs__item(data-gallery-type='Banquet-hall')='Банкетний зал'
    li.tabs__item(data-gallery-type='Quick-delivery')='Швидка доставка'