ul.tabs
    li.tabs__item.tabs__item--active='Закуски'
    li.tabs__item='Салати'
    li.tabs__item='Піца'
    li.tabs__item='Дитячі страви'
    li.tabs__item='Гарячі закуски'
    li.tabs__item='Напої'