ul.tabs
    li.tabs__item='Ігрова зона для діток'
    li.tabs__item='Страви української та європейської кухні'
    li.tabs__item='Літній майданчик'
    li.tabs__item='Банкетний зал'
    li.tabs__item='Швидка доставка'